<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LsDAL.Properties.Settings.aspnet_SeaVersion_2_20170818051512ConnectionString"
            connectionString="Data Source=172.168.9.101;Initial Catalog=aspnet-SeaVersion_2_20170818051512;Persist Security Info=True;User ID=sa;Password=webdir123R"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>